* {
    margin:0;
    font-family: "Poppins", sans-serif;
    padding:0;
    box-sizing: border-box;

}
body {
    background:#081b29;
    line-height: 2;
    margin-left: 30px;
}

body h1{
    color:white;
    padding: bottom;
    line-height: 2;
}

body li{
    color:white;
    line-height: 2;
}

body p{
    color:white;
    line-height: 2;
}
.btn-box a{
    position:relative;
    display: inline-flex ;
    justify-content: center;
    align-items:center;
    width: 150px;
    height: 100%;	
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition:0.5s;
}

.btn-box a::before{
    content: " ";
    position: absolute;
    top:0;
    left: 0;
    width: 0;
    height:100%;
    background:white;
    z-index:-1;
    transition:0.5s;
}

.btn-box a:hover::before{
    width:100%
}